<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFC9C4D31D57FE5200118955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFC9C4E71D57FE5300118955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFC9C4F21D57FE5300118955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
